<% include ../partials/head.ejs %>
<body>
  <main>
    <ul>
      <li>
        <span><%= user.username %></span>
        <p>Name: <%= user.firstName %> <%= user.lastName %><br>
        Email: <%= user.email %> <br>
        Github: <%= user.github %> <br>
        Skills: <%= user.skills %>
        </p>
      </li>
    </ul>
  </main>
</body>
</html>
