<% include ../partials/head.ejs %>
<body>
<% include ../partials/headercat.ejs %>
  <main>
    <h2><%= user.username %>'s Dashboard</h2>
    <p>
      Name: <%= user.firstName %> <%= user.lastName %><br />
      Email: <%= user.email %> <br />
      Github: <%= user.github %> <br />
      Skills: <%= user.skills %><br />
    </p>
    <h3>Favorite Technologies:</h3>
    <ul>
      <% faves.forEach((fave) => { %>
      <form action="<%= `/user/${fave.fave_id}?_method=DELETE` %>" method="POST">
        <a href="/technologies/<%= fave.id %>">
        <%= fave.name %> - <%= fave.category_name.replace(/_/g, ' ') %>
        </a>
        <button type="submit">X</button>
      </form>
      <% }) %>
    </ul>
  </main>
  <% include ../partials/jsdefaults.ejs %>
</body>
</html>
