<% include ../partials/head.ejs %>
<main>
 <table>
    <tbody>
       <tr>
          <td>Name</td>
          <td><span><%= technology.name %></span></td>
        </tr>
        <tr>
          <td >Description:</td>
          <td><%= technology.description %></td>
        </tr>
        <tr>
          <td >Link to Docs:</td>
          <td><a href="<%= technology.documentation %>"><%= technology.documentation %></a></td>
        </tr>
        <tr>
          <td >See Example:</td>
          <td><a href="<%= technology.use_case %>"><%= technology.use_case %></a></td>
        </tr>
        <tr>
          <td >Category:</td>
          <td><%= technology.category_name %></td>
        </tr>
    </tbody>
  </table>
 <div>
<% if (user) { %>
<a href="<%= `/technologies/${technology.id}/edit` %>">
<button class="btn waves-effect waves-light" type="submit" name="action">Edit this Technology
</button></a>
<% } %>
</div>
<div class="right-align">
<% if (user !== undefined) { %>
  <form action="favorites" method="POST">
    <input style="display:none" value="<%= technology.id %>" name="tech_id">
    <button class="btn waves-effect waves-light" type="submit" name="action">Fave
      <i class="material-icons right">add</i>
    </button>
  </form>
<% } %>
</div>
<p><a href="<%= '/technologies' %>">Back to Technologies List</a></p>
<p><a href="<%= '/categories' %>">Back to Categories</a></p>
<p><a href="<%= '/' %>">Back to Home Page</a></p>
<div>
  <p>Todo: Review Section here</p>
</div>
</main>

