<% include ../partials/head.ejs %>
<main>
<% include ../partials/headercat.ejs %>
<div class="container" style="margin-top: 20px">
  <div class="col s12 m6">
    <div class="card grey darken-2">
      <div class="card-content white-text">
        <span class="card-title center" style="margin-bottom: 20px"><%= technology.name %></span>
        <p style="font-size: 1.1em"><%= technology.description %></p><br>
        <p>Category: <%= technology.category_name %></p>
        <a href="<%= technology.documentation %>">Official Documentation</a><br>
        <a href="<%= technology.use_case %>">Use Case</a>
      </div>
      <div class="card-action">
        <% if (user !== undefined) { %>
          <div class="flexButtons">
            <a href="<%= `/technologies/${technology.id}/edit` %>">
            <button class="myButton" type="submit" name="action">
            Edit
            </button></a>
            <form action="favorites" method="POST">
              <input style="display:none" value="<%= technology.id %>" name="tech_id">
              <button class="myButton" type="submit" name="action">
              Favorite
              </button>
            </form>
            <button class="myButton">
              <a style="color: #777777; margin-right: 0;" href='../reviews/<%= technology.id %>'>Review
              </a>
            </button>
        <% } %>
      </div>
      </div>
    </div>
  </div>
</div>

<% if (!user) { %>
  <a href="<%= '/auth/login' %>">Login to edit this page or add to Favorites</a>
<% } %>

<div class="container">
<h1 class="center">Reviews</h1>
  <ul class="collection">
    <% reviews.forEach((review) => { %>
    <li class="collection-item avatar">
      <i class="material-icons circle cyan">account_circle</i>
      <% if (!user) { %>
        <span class="title"><a href="/auth/login"> <%= review.username %> </a></span>
      <% } %>
      <% if (user) { %>
        <span class="title"><a href="/user/<%= review.user_id %>"> <%= review.username %></a></span>
      <% } %>
      <p><%= review.title %> <br>
      <%= review.review_text %></p>
      <hr>
      <% if (user !== undefined) { %>
        <% if (user.username === review.username) { %>
          <div class="flexButtons2">
          <a href="<%= `/technologies/${review.tech_id}/reviews/${review.id}/edit` %>">
          <button class="myButton" type="submit" name="action" style="top: 5px">Edit
          </button></a>
          <form style="top: 45px" action="<%= `/technologies/${review.tech_id}/reviews/${review.id}?_method=DELETE` %>" method="POST">
          <button class="myButton" type="submit">Delete</button>
          </form>
          </div>
        <% } %>
      <% } %>
    </li>
    <% }) %>
  </ul>
</div>
</main>
<% include ../partials/jsdefaults.ejs %>


