<% include ../partials/head.ejs %>

<main>
 <table>
    <tbody>
       <tr>
            <td >Name:</td>
            <td><span><%= technology.name %></span></td>

          </tr>
          <tr>
            <td >Description:</td>
            <td><%= technology.description %></td>

          </tr>
          <tr>
            <td >Link to Docs:</td>
            <td><a href="<%= technology.documentation %>"><%= technology.documentation %></a></td>

          </tr>
          <tr>
            <td >See Example:</td>
            <td><a href="<%= technology.use_case %>"><%= technology.use_case %></a></td>

          </tr>
        </tbody>
      </table>


<a href="<%= '/technologies' %>">Back to Technologies List</a>
