<% include ../partials/head.ejs %>
<main>
 <table>
    <tbody>
       <tr>
          <td>Name</td>
          <td><span><%= technology.name %></span></td>
        </tr>
        <tr>
          <td >Description:</td>
          <td><%= technology.description %></td>
        </tr>
        <tr>
          <td >Link to Docs:</td>
          <td><a href="<%= technology.documentation %>"><%= technology.documentation %></a></td>
        </tr>
        <tr>
          <td >See Example:</td>
          <td><a href="<%= technology.use_case %>"><%= technology.use_case %></a></td>
        </tr>
        <tr>
          <td >Category:</td>
          <td><%= technology.category_name %></td>
        </tr>
    </tbody>
  </table>


<% if (user !== undefined) { %>
<a href="<%= `/technologies/${technology.id}/edit` %>">
<button class="btn waves-effect waves-light" type="submit" name="action">Edit this Technology
</button></a>
  <form action="favorites" method="POST">
    <input style="display:none" value="<%= technology.id %>" name="tech_id">
    <button class="btn waves-effect waves-light" type="submit" name="action">Fave
      <i class="material-icons right">add</i>
    </button>
  </form>
  <button class="btn waves-effect waves-light">
    <a style="color: white" href='../reviews/<%= technology.id %>'>Review Tech
      <i class="material-icons right">add</i>
    </a>
  </button>
<% } %>

<% if (!user) { %>
  <a href="<%= '/auth/login' %>">Login to edit this page or add to Favorites</a>
<% } %>

<p><a href="<%= '/technologies' %>">Back to Technologies List</a></p>
<p><a href="<%= '/categories' %>">Back to Categories</a></p>
<p><a href="<%= '/' %>">Back to Home Page</a></p>

<div>
  <ul>
  <% reviews.forEach((review) => { %>
          <li>
            <% if (!user) { %>
            <h3>Review by: <%= review.username %> - <a href="/auth/login">Login</a> to View Profile</h3>
            <% } %>

            <% if (user) { %>
            <h3>Review by: <%= review.username %> - <a href="/user/<%= review.user_id %>">View Profile</a></h3>
            <% } %>

            <p><%= review.title %> - <%= review.review_text %></p>
          </li>
          <% }) %>
  </ul>
</div>
</main>

